<div class="room-list" ng-repeat="room in Scenario.rooms">
  <div class="room">
    <div class="name" style="background-color: {{room.color}}">
      <h2>{{room.name}}</h2>
    </div>
    <div class="sinks">
      <ul class="sink-list" ng-repeat="appliance in room.appliances">
        <li>
          <strong>{{appliance.name}}</strong><br> <span><strong>{{appliance.wattage}}</strong> Watts / <strong>{{appliance.hours_per_week}}</strong> Hours/Week / <strong>{{appliance.daily_usage.kwh}}</strong> kWh/week / <strong>${{appliance.daily_usage.cost}}</strong>/week</span>
        </li>
      </ul>
      <ul class="add-appliance">
        <li>  
          <a href="#" class="btn-add-room-appliance" data-room-id="{{room.id}}"><strong>+</strong> Add Appliance</a>
        </li>
      </ul>
    </div>
    <div class="room-totals"></div>
  </div>
</div>
