<div class="room-list" ng-repeat="room in Scenario.rooms">
  <div class="room">
    <div class="name" style="background-color: {{room.color}}">
      <h2>{{room.name}}</h2>
    </div>
    <div class="sinks">
      <ul class="sink-list" ng-repeat="appliance in room.appliances track by appliance.id">
        <li class="appliance">
          <strong editable-select="appliance.type" e-name="type" e-form="rowform" e-required e-ng-options="a.id as a.name for a in allAppliances" e-ng-change="updateApplianceType(appliance, rowform, $data)">
            {{appliance.type}}
          </strong>
          <br> 
          <span>
            <span class="appliance-wattage">
              <strong editable-text="appliance.wattage" e-name="wattage" e-form="rowform" e-required e-id="wattage-{{appliance.id}}">
                {{appliance.wattage}}
              </strong> Watts 
            </span>
            / 
            <span class="appliance-hours">
              <strong editable-text="appliance.hours_per_week" e-name="hours_per_week" e-form="rowform" e-required>
                {{appliance.hours_per_week}}
              </strong> Hours/Week 
            </span>
          <span ng-hide="rowform.$visible">
            /
            <strong>{{appliance.daily_usage.kwh}}</strong> kWh/week / <strong>${{appliance.daily_usage.cost}}</strong>/week
          </span>
          </span>
          <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == appliance">
            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
              save
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
              cancel
            </button>
          </form>
          <a class="btn-edit-room-sink" ng-click="rowform.$show()" ng-hide="rowform.$visible">EDIT</a>
          <a class="btn-remove-room-sink" ng-click="room.removeAppliance(appliance)">X</a>
        </li>
      </ul>
      <ul class="add-appliance">
        <li>  
          <a class="btn-add-room-appliance" ng-click="addAppliance(room)"><strong>+</strong> Add Appliance</a>
        </li>
      </ul>
    </div>
    <div class="room-totals"></div>
  </div>
</div>
