<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="assets/css/foundation.min.css" />
    <link rel="stylesheet" href="assets/css/app.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title ng-controller="TitleCtrl">{{ title.get() }}</title>
</head>
<body>
<div id="app">
<header>
  <img src="img/electric.png">
  <ul class="hide-for-medium-down">
    <li><a ui-sref="home"><strong>#TURNDOWNFORWATTS</strong></a></li>
    <li><a href="#">Documentation</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Help</a></li>
    <li><a href="#">Profile</a></li>
    <li><a ui-sref="rooms">Rooms</a></li>
  </ul>
</header>
<div class="utility">
  <div class="info">
    <h1>Welcome Back, Relaxo</h1>
    <h2>1127 Johnnie Brook Rd Richmond, VT 05477</h2>
  </div>
  <div class="totals">
    <div class="scenario-totals" ng-controller="ScenarioTotalsCtrl">
      <div class="large-4 columns">Estimated Usage</div>
      <div class="large-4 columns total-watts"><strong>{{Scenario.daily_usage.kwh | weekly_kwh}}</strong> kWh/week</div>
      <div class="large-4 columns total-cost"><strong>${{Scenario.daily_usage.cost | weekly_cost}}</strong>/week</div>
    </div>
    <div class="customer-totals" ng-controller="CustomerTotalsCtrl">
      <div class="large-4 columns">Avg. Weekly Usage</div>
      <div class="large-4 columns total-watts"><span ng-bind="CustomerData.kwh"></span> <strong>kWh</strong></div>
      <div class="large-4 columns total-cost"><strong>$</strong> <span ng-bind="CustomerData.cost"></span> <sup>/ week</sup> </div>
    </div>
  </div>
</div>
  <div class="dashboard">
    <div id="main-content">
        <div class="large-8 columns main fadeUp">
          <form id="scenario-form" ng-controller="ScenarioFormCtrl" ng-submit="submit()">
          <h1>Get a handle on your <strong>energy spending</strong>.</h2>
          <h2>Explore how your <strong>devices</strong> and <strong>appliances</strong> contribute to your <strong>energy costs</strong>.<br> Tell us about your home to begin.</h2>
        <div class="row">
          <div class="large-4 columns">
            <label>Name
              <input type="text" name="name" ng-model="FormData.name" />
            </label>
          </div>
          <div class="large-4 columns">
              <label>
                  Number of <strong>Bedrooms</strong>?
                  <select ng-model="FormData.numBedrooms" ng-options="opt+' Bedrooms' for opt in bedroomOptions"></select>
              </label>
          </div>
          <div class="large-4 columns">
              <label>
                  Number of <strong>Bathrooms</strong>?
                  <select ng-model="FormData.numBathrooms" ng-options="opt+' Bathroom' for opt in bathroomOptions"></select>
              </label>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
              <label>
                  <input type="checkbox" name="kitchen_name" value="1" ng-model="FormData.kitchenName" ng-true-value="'Kitchen'" />
                  My house/apartment has a kitchen
              </label>
              <label>
                  <input type="checkbox" name="living_room_name" value="1" ng-model="FormData.livingRoomName" ng-true-value="'Living Room'" />
                  My house/apartment has a living room
              </label>
            </div>
          <div class="large-4 columns">
              <label>
                  <input type="checkbox" name="basement_name" value="1" ng-model="FormData.basementName" ng-true-value="'Basement'" />
                  My house/apartment has a basement
              </label>
              <label>
                  <input type="checkbox" name="office_name" value="1" ng-model="FormData.officeName" ng-true-value="'Office'" />
                  My house/apartment has an office
              </label>
            </div>
            <div class="large-4 columns">
              <button id="submit-house" type="submit">Submit</button>
            </div>
          </div>
        </form>
         <div ui-view id="rooms" class="clearfix row"></div>
        </div>
        <div class="large-4 columns sidebar">
          <div id="graphs">
            <h2>kWh Breakdown</h2>
            <div data-alert class="alert-box info radius" id="no-graph-message">
              Add appliances to see a breakdown of kWh usage.
            </div>
            <div id="graph1" style="height: 600px; margin: 0 auto; float: left; width: 54%; display: none;"></div>
            <div id="graph2" style="height: 600px; margin: 0 auto; float: left; width: 46%; display: none;"></div>
          </div>
          <div id="customer-usage">
            <h2>Average vs. Estimated Energy Consumption</h2>
            <div class="chart"></div>
          </div>
        </div>
    </div>
</div>
<footer>
<a ui-sref="state1">State 1</a>
<a ui-sref="state2">State 2</a>
</footer>
</div>
<script src="assets/compiled/app.js"></script>
</body>
</html>
